/*aboutus*/
.Pc {
    display:none;
}

h1 a {
    text-indent:-9999px;
}

iframe {
    border:none;
}

/*mainbg*/
.mainBg {
    padding-bottom:0;
    height:0;
}

.aboutUs .purpleStrokeTitle {
    color:#0e2d42;
}

.aboutUs .purple {
    width:150px;
    height:130px;
    border-radius:75px / 65px;
    background:rgba(135,72,238,.7);
    animation:turn 5s infinite ease-in-out;
}

.aboutUs .blue {
    position:absolute;
    top:29px;
    left:95px;
    width:90px;
    height:74px;
    border-radius:45px / 37px;
    background:rgba(45,222,236,.8);
    animation:turn 3s infinite reverse;
}

/*#mysvg*/
.aboutUs .mysvg5, .aboutUs .mysvg6, .aboutUs .mysvg7 {
    position:absolute;
    top:35px;
    left:21px;
    width:157px;
    height:64px;
    font-family:'shadows';
    fill:transparent;
    stroke:#fff;  
    stroke-width:0.4;    
}

.aboutUs .company .mysvg8 {
    position:absolute;
    top:0;
    right:0;
    margin-right:10%;
    fill:transparent;
    stroke:#fff;
    stroke-width:2;   
    opacity:0.95;
    width:69vw;
    height: 100%;
}

/*company*/
.left {
    float:left;
}

.aboutUs .company  {
    padding-top:14%;
}

.aboutUs .company .wraper {
    background:url(../img/sub1-company-bg.png)no-repeat bottom/cover;
    width:100%;
    height:456px;
    margin-bottom:62px;
    z-index:-1;
}

.aboutUs .company .left:first-child {
    position:relative;
    top:0;
    margin-bottom:150px;
    width:100%;
    z-index:0;
}

.aboutUs .company .left div {
    position:absolute;
}

.aboutUs .company .text {
    float:left;
}

.aboutUs .company .text p {
    width:89.066%;
    margin:0 auto;
    padding:12px;
    background:rgba(255,255,255,.8);
    font:1.5rem robotR;
}

.aboutUs .company .Bbg {
    position:relative;
    top:30px;
    left:0;
    background:url(../img/sub1-company-Bbg-M.jpg) no-repeat top/cover;
    margin-bottom:60px;
    width:100%;
    height:50vw;
}

.aboutUs .company .Bbg p {
    font:2.3rem slabo;
    font-weight:lighter;
    text-align:right;
    line-height:1.4;
    width:89.0666%;
    color:#fff;
}

.aboutUs .company .Bbg span {
    display:block;
    font-size:2.5rem;
    font-weight:normal;
}

/*artist*/
.aboutUs .artist {
    position:relative;
    padding:160px 0 92px;
    background:url(../img/sub1-artist-bg.PNG)no-repeat bottom/contain;
}

.aboutUs .artist .right {
    position:absolute;
    top:6px;
    right:5vw;
    width:45%;
}

.aboutUs .artist .right div {
    position:absolute;
}

.aboutUs .imageSlide {
    position:relative;
    left:50%;
    transform:translateX(-25%);
    display:flex;
    width:180vw;
}

.aboutUs .imageSlide .wraper {
    position:relative;
    flex:0 0 25%;
    width:100%;
}

.aboutUs .imageSlide .wraper div {
    position:relative;
    width:98%;
    height:30vw;
    margin:2px auto;
}

.aboutUs .imageSlide .wraper a {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.aboutUs .imageSlide .wraper a img {
    display:block;
    width:100%;
    height:100%;
}

.aboutUs .imageSlide .wraper .convert {
    display:none;
}

/*imageSlide 위치*/
.aboutUs .imageSlide .L {
    top:-30px;
}

.aboutUs .imageSlide .C1 {
    top:-85px;
}

.aboutUs .imageSlide .C2 {
    top:13px;
}

.aboutUs .imageSlide .R{
    top:-10vw;
}

/*product*/
.aboutUs .product {
    position:relative;
    top:0;
    left:0;
    margin-top:30px;
    padding-bottom:45px;
}

/*product bgimg*/
.aboutUs .product .pd-bg1 {
    position:absolute;
    top:-30px;
    left:0;
    width:100%;
    height:375px;
    background:url(../img/sub1-product-bgL-1.PNG)no-repeat 15% -20px/cover;
}

.aboutUs .product .pd-bg2 {
    position:absolute;
    top:375px;
    left:0;
    width:223px;
    height:270px;
    background:url(../img/sub1-product-bgR.PNG)no-repeat center/cover;
}

.aboutUs .product .left:first-child {
    position:relative;
    top:0;
    left:0;
    width:100%;
    margin-bottom:150px;
    z-index:1;
}

.aboutUs .product .purple {
    position:absolute;  
    top:0;
    left:0;
}

.aboutUs .product .wraper {
    position:relative;
    top:0;
    left:0;
}

.aboutUs .product iframe {
    width:82.6666%;
    height:264px;
    margin:0 auto;
    display:block;
    border:none;
}

.aboutUs .product iframe:nth-child(2) {
    margin:25px auto;
}

/*warranty*/
.aboutUs .warranty {
    margin-bottom:67px;
}

.aboutUs .warranty h3 {
    position:absolute;
    top:-9999px;
    left:-9999px;
}

.aboutUs .warranty .bgText {
    height:230px;
    width:100%;
    padding-top:35px;
    margin-bottom:62px;
    background:url(../img/sub1-product-m.jpg)no-repeat center/cover;
}

.aboutUs .warranty .bgText p {
    color:#fff;
    text-align:center;
}

.aboutUs .warranty .bgText p:first-child {
    font:2.7rem 'slabo';
}

.aboutUs .warranty .bgText p:nth-child(2) {
    width:89.8666%;
    margin:0 auto;
    line-height:1.6428;
    font:1.4rem 'slabo';
    margin-bottom:40px;
}

.aboutUs .warranty .bgText .button {
    position:relative;
    margin:0 auto;
}

.aboutUs .warranty .wText div {
    width:89.8666%;
    margin:0 auto 61px;
}

.aboutUs .warranty .wText div p:first-child {
    font-size:2.5rem;
    padding-bottom:27px ;
}

.aboutUs .warranty .wText p {
    font:1.7rem 'robotR';
    text-align:center;
    line-height:1.294;
}

/*product slide*/
.aboutUs .slick-prev {
    background:url(../img/sub1-slide-arrow-left.png)no-repeat center/contain;
}

.aboutUs .slick-next {
    background-image:url(../img/sub1-slide-arrow-right.png);
}

.aboutUs .slick-arrow {
    top:50%;
}

.aboutUs .imgSlide {
    margin-bottom:60px;
}

.aboutUs .imgSlide h3 {
    position:absolute;
    top:-9999px;
    left:-9999px;
}

.aboutUs .imgSlide> p {
    font:2.5rem 'robotR';
    text-align:center;
    padding:0 4%;
}

.aboutUs .imgSlide> p  span {
    display:inline;
}

.aboutUs .imgSlide .productWrap {
    padding:10% 20%;
}

.aboutUs .imgSlide .sliderInner a {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    text-align:center;
    color:#000;
    height:360px;
    padding-bottom:10%;
}

.aboutUs .imgSlide .black a {
    background:url(../img/sub1-slide-1.png)no-repeat 50% 19px/ 180px 151px;
}

.aboutUs .imgSlide .skyblue a {
    background:url(../img/sub1-slide-2.png)no-repeat 50% 19px/ 180px 151px;
}

.aboutUs .imgSlide .yellow a {
    background:url(../img/sub1-slide-3.png)no-repeat 50% 19px/ 180px 151px;
}

.aboutUs .imgSlide .sliderInner a > p {
    font:1.8rem 'robotR';
    line-height:1.5;
}

.aboutUs .imgSlide .star {
    display:inline-block;
    vertical-align: middle;
}

.aboutUs .imgSlide .star> span {
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/sub1-slide-star.png)no-repeat center/contain;
    margin:0 1px;
}

.aboutUs .imgSlide .reviews {
    vertical-align: middle;
    font:1.5rem 'robotR'
}

.aboutUs .imgSlide .price {
    font:1.5rem 'robotR';
    margin-top: 8px;
}

.aboutUs ul.slick-dots {
    bottom:0;
}

/*svg*/
.aboutUs .wrapSvg > svg:nth-of-type(2) {
    bottom:290px;
}

.aboutUs .wrapSvg > svg:nth-of-type(3) {
    top:auto;
    bottom:600px;
    right:-77px;
    width:178px;
    height:auto;
    z-index:-1;
}

.aboutUs .wrapSvg > svg:nth-of-type(4) {
    top:auto;
    bottom:300px;
    z-index:-2;
}

@media screen and (min-width:768px) {
    .wrapSvg> svg:nth-of-type(1) {
        top:3590px;
        left:-208px;
    }
    
    .aboutUs .wrapSvg> svg:nth-of-type(2) {
        bottom:800px;
        left:-236px;
        width:428px;
    }
    
    .aboutUs .wrapSvg > svg:nth-of-type(3) {
        width:333px;
        right:-130px;
        bottom:-23px;
    }
    
    .aboutUs .wrapSvg > svg:nth-of-type(4) {
        left:-241px;
        bottom:800px;
    }
    
    /*circle*/
    .aboutUs .purple {
        width:280px;
        height:220px;
        border-radius:140px / 110px;
        top:-51px;
    }
    
    .aboutUs .blue {
        width:140px;
        height:120px;
        border-radius:70px / 60px;
        left:175px;
    }

    /*#mysvg*/
    .aboutUs .mysvg5, .aboutUs .mysvg6, .aboutUs .mysvg7 {
        width:297px;
        height:60px;
    }
    
    .aboutUs .company h3,.aboutUs .artist h3 ,.aboutUs .product h3 {
        font-size:5.6rem;
    }
        
    /*company*/
    .aboutUs .company .mysvg5 {
        left:11px;
    }
        
    .aboutUs .company .wraper {
        height:716px;
        margin-bottom:0;
    }
        
    .aboutUs .company .left .mysvg {
        top:0;
        left:70px;
    }
        
    .aboutUs .company .left:first-child {
        margin-bottom:200px;
    }
    
    .aboutUs .company .text p {
        font-size:3.0rem;
        width:87.369%;
    }
    
    .aboutUs .company .Bbg {
        margin-top:68px;
        height:430px;
    }
    
    .aboutUs .company .Bbg p {
        font-size:4.5rem;
        line-height:1.4 ;
        width:88.151%;
    }
    
    .aboutUs .company .Bbg span {
        font-size:5.0rem;
    }
    
    /*artist*/
    .aboutUs .artist {
        padding:250px 0 248px;
    }
    
    .aboutUs .artist .right {
        top:94px;
    }
    
    .aboutUs .imageSlide .C2 {
        top:68px;
    }
    
    /*product*/
    .aboutUs .product {
        margin-top:40px;
        padding-bottom:73px;
    }
    
    .aboutUs .product .blue {
        top:77px;
    }
        
    .aboutUs .product .pd-bg1 {
        height:749px;
        top:-40px;
    }
    
    .aboutUs .product .pd-bg2 {
        width:445px;
        height:570px;
        top:750px;
        z-index:-1;
    }
    
    .aboutUs .product .left:first-child {
        margin-bottom:270px;
    }

    .aboutUs .product .mysvg7 {
        top:71px;
        left:0;
    }
    
    .aboutUs .product iframe {
        width:61.1979%;
        height:264px;
    }
    
    .aboutUs .product iframe:nth-child(2) {
        margin:51px auto;
    }
    
    /*warranty*/
    .aboutUs .warranty {
        margin-bottom:100px;
    }

    .aboutUs .warranty .bgText {
        height:460px;
        padding-top:100px;
        background:url(../img/sub1-product-t.jpg)no-repeat center/cover;
    }
    
    .aboutUs .warranty .bgText p:first-child {
        font-size:5.4rem;
        margin-bottom:33px;
    }
    
    .aboutUs .warranty .bgText p:nth-child(2) {
        width:75.770%;
        margin-bottom:50px;
        font-size:2.2rem;
        line-height:1.363;
    }

    .aboutUs .warranty .wText div {
        width:56.380%;
        margin:0 auto 61px;
    }
    
    .aboutUs .warranty .wText div:last-child {
        margin-bottom:43px;
    }
    
    .aboutUs .warranty .wText div p:first-child {
        font-size:2.6rem;
        padding-bottom:40px;
    }
    
    .aboutUs .warranty .wText p {
        font-size:1.8rem;
        line-height:1.6;
    }

    /*product slide*/
    .aboutUs .imgSlide > p {
        text-align:center;
        font-size:3.0rem;
    }

    .aboutUs .imgSlide .sliderInner a {
        padding-bottom:0;
    }
}
@media screen and (min-width:1280px) {
    .aboutUs .navInner ul> li> a,
    .help_page .navInner ul> li> a {
        color:#000;
    }

    .aboutUs .navInner ul> li> a:hover,
    .help_page .navInner ul> li> a:hover {
        color:#2bcad6;
    }

    .aboutUs .mobile {
        display:none;
    }
    
    .aboutUs .pc {
        display:block;
    }
    
    .aboutUs .wrapSvg> svg:nth-of-type(1) {
        width:481px;
        left:-279px;
        top:1010px;
        animation:rain 2s infinite 1.3s;
    }
    
    .aboutUs .wrapSvg> svg:nth-of-type(2) {
        width:395px;
        bottom:460px;
        left:-224px;
    }
    
    .aboutUs .wrapSvg> svg:nth-of-type(3) {
        width:313px;
        bottom:0;
    }
    
    .aboutUs .wrapSvg> svg:nth-of-type(4) {
        width:377px;
        bottom:430px;
        left:-239px;
    }

    /*#mysvg1*/
    .aboutUs .mysvg1 {
        width:590px;
        height:150px;
    }

    /*company*/
    .aboutUs .company {
        margin:0 auto;
    }

    .aboutUs .company> div {
        width:83.473%;
    }

    .aboutUs .company .left:first-child {
        margin:0 0 254px 13.574%;
        top:19px;
        z-index:0;
    }
        
    .aboutUs .company .wraper {
        background-position:left;
    }
    
    .aboutUs .company .text {
        width:80%;
    }
    
    .aboutUs .company .Bbg {
        background:url(../img/sub1-company-Bbg.jpg) no-repeat center/cover;
    }
    
    .aboutUs .company .mobile {
        display:none;
    }
    
    .aboutUs .company .mysvg1 {
        top:0;
        right:20%;
    }
    
    /*artist*/
    .aboutUs .artist {
        padding:250px 0 440px;
    }
    
    .aboutUs .artist .right {
        top:86px;
        right:2vw;
    }
    
    .aboutUs .imageSlide {
        width:145vw;
        left:50%;
        transform:translateX(-50%);
    }
    
    .aboutUs .imageSlide .wraper div {
        height:23vw;
    }
    
    .aboutUs .imageSlide .L {
        top:10px;
    }
    
    .aboutUs .imageSlide .C2 {
        top:90px;
    }
    
    /*product*/
    .aboutUs .product {
        padding-bottom:180px;
    }

    .aboutUs .product .pd-bg1 {
        height:714px;
        background-position:top;
        top:1px;
        left:-40%;
    }
    
    .aboutUs .product .pd-bg2 {
        top:0;
        left:auto;
        right:0;
        height:822px;
    }

    .aboutUs .product .wraper {
        display:flex;
        justify-content:space-between;
        margin:0 auto;
        width:84.313%;
        height:auto;
        top:27px;
    }
    
    .aboutUs .product iframe {
        width:30.921%;
    }
    
    .aboutUs .product iframe:nth-child(2) {
        margin:0;
    }
    
    /*warranty*/
    .aboutUs .warranty .bgText {
        background-image:url(../img/sub1-product.JPG);
    }
    
    .aboutUs .warranty .wText {
        display:flex;
        justify-content:space-between;
        width:92%;
        margin:0 auto;
    }
    
    .aboutUs .warranty .wText div {
        width:30%;
    }
    
    /*product slide*/
    .aboutUs .imgSlide .productWrap> a:hover {
        transform: scale(1.1);
        transition:all .2s;
    }

    .aboutUs .imgSlide > p {
        font-size: 5rem;
    }

    .aboutUs .imgSlide .sliderInner a {
        height:600px;
        padding-bottom:10%;
        background-size:50%;
        background-position:50% 16%;
        max-width:500px;
        border:1px solid #ddd;
        border-radius:2px;
        margin: 0 auto;
    }

    .aboutUs .imgSlide .sliderInner a > p {
        font-size:3rem;
    }

    .aboutUs .imgSlide .star> span {
        width:20px;
        height:20px;
    }

    .aboutUs .imgSlide .reviews {
        font-size:2.5rem;
    }

    .aboutUs .imgSlide .price {
        font-size: 3rem;
    }
}

@keyframes turn {
    0% {
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0);
    }
    100% {
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@keyframes AniD {
    0% {
        -webkit-transform:translateY(30%);
        -ms-transform:translateY(30%);
        transform:translateY(30%);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}

@keyframes AniR {
    0% {
        -webkit-transform:translateX(30%);
        -ms-transform:translateX(30%);
        transform:translateX(30%);
        opacity:0;
    }
    100% {
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0);
        opacity:1;
    }
}


.AniR {
    animation:AniR 2s ease-in-out alternate;
}

.big {
    animation:big 2s ease-in-out alternate;
}

.AniD {
    animation:AniD 2s ease-in-out alternate;
}
/*    /aboutus    */

/*   collabo     */
    /*reset*/
.sub2 header {
    background:#000;
    z-index:2;
}

.sub2 h1 a {
    background-image:url(../img/logo/Blunt-Umbrellas-logo-white.png);
}

.sub2 button span {
    background:#fff;
}

.sub2 .mainBg {
    padding-bottom:100%;
}

.sub2 main > section > svg {
    opacity:.7;
}

.sub2 .Text {
    position:relative;
    top:0;
    left:0;
    padding-bottom: 20%;
}


.sub2 .Text p {
    font:1.3rem 'robotR';
    color:#fff;
    width:86%;
    margin:0 auto;
    padding:18px 4% 23px;
    background:rgba(255,255,255,.2);
}

.sub2 .textBoxStroke {
    position:absolute;
    bottom:20%;
    right:2%;
    width:60px;
    height:60px;
    z-index:1;
    margin:0;
}

/* img_btn */
.sub2 .img_btn {
    position:absolute;
    top:auto;
    bottom:0;
    left:8%;    
}

.sub2 .img_btn .button {
    position: static;
    right:auto;
    top:auto;
    bottom:0;
}

/*um svg*/
.sub2 .um {
    position:absolute;
    bottom:12%;
    left:4%;
    width:30%;
}

.sub2 .um p {
    background:url(../img/sub2-um-flox.png)no-repeat center/contain;
    width:100%;
    padding-bottom:100%;
    animation:turn 4s infinite;
}

.sub2 .um span {
    display:block;
    font:1.0rem 'robotl';
    color:#fff;
    text-align:center;
}
    
.sub2 .karenUm p {
    background-image:url(../img/sub2-um-michael1.png);
}


.sub2 .michaelUm p {
    background-image:url(../img/sub2-um-michael2.png) ;
} 

/* section title */
.sub2 .titleBox {
    width:100%; 
}

.sub2 .blunt {
    float:left;
    background:url(../img/logo/Blunt-Umbrellas-logo-white.png)no-repeat right/contain;
    width:125px;
    height:49px;
}

.sub2 .x {
    float:left;
    display:block;
    width:15px;
    height:15px;
    overflow:hidden;
    background:url(../img/sub2-left-x.png)no-repeat center/contain;
}

.sub2 .x:before {
    content:"";
    display:block;
    width:15px;
    height:15px;
    background:url(../img/sub2-right-x.png)no-repeat center/contain;
}

.sub2 .titleBox h3 {
    position:relative;
    font:2.8rem 'robotl';
    transform:rotate(90deg);
    color:#fff;
}
/* /reset */

/*flox*/
.sub2 .flox,
.sub2 .karen,
.sub2 .michael {
    padding:0;
    background:rgba(0,0,0,.95);
}

.sub2 .MainBgMobile {
    width:100%;
    height:522px;
    background:url(../img/sub2-mainbg.jpg)no-repeat center/cover;
}

.sub2 .flox .cont {
    position:relative;
    top:0;
    left:0;
    height:80px;
    background:#fff7f7;
}

.sub2 .flox .cont div {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:100%;
    height:70%;
    padding:0 2%;
    background:linear-gradient(110deg, #9c60ff, #06eeff ), #fff7f7;
}

.sub2 .flox .cont p {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:100%;
    height:68%;    
    text-align:center;
    font:1.1rem 'robotR';
    background:#fff7f7;
}

.sub2 .flox .titleBox {
    margin:30px 0 0;
}

.sub2 .flox .titleBox .blunt {
    margin:0 18px 0 12%;
}

.sub2 .flox .titleBox .x {
    margin:17px 38px 0 0;
}

.sub2 .flox .titleBox h3 {
    margin:5px 0  0;
    top:0;
    left:0;
    transform:rotate(0);
}

.sub2 .flox .wraper {
    padding:0 0 50px;
    background: url(../img/sub2-flox-bg-R-m.jpg)no-repeat 0 100%/contain, url(../img/sub2-flox-bg-L-m.jpg)no-repeat -60% 0/80%;
}

.sub2 .flox .floxMainImgFloat {
    float:right;
    width:40%;
    margin:10%;
}

.sub2 .flox .floxMainImg {
    width:100%;
    padding-bottom:100%;
    background:url(../img/sub2-flox1-H.PNG)no-repeat center/cover;
}
/*/flox*/

/*karen*/
.sub2 .karen {
    background:#000 url(../img/sub2-karen-bg-p.jpg)no-repeat top/1053px 493px;
}

.sub2 .karen> div {
    float:left;
    width:100%;
    position:relative;
    top:0;
    left:0;
}

.sub2 .karen .titleBox {
    margin-top:20px;
    height:60px;
}

.sub2 .karen .titleBox .blunt {
    margin:0 0 0 128px;
}

.sub2 .karen .titleBox .x {
    margin:17px 0 0  23px ;
}

.sub2 .karen .titleBox h3 {
    float:right;
    top:10px;
    left:46px;
    z-index:1;
}

.sub2 .karen .karenImg .karenImage:first-child {
    float:left;
    margin-top:35px;
    background:url(../img/sub2-karen1.jpg)no-repeat center/cover;
    width:30%;
    padding-bottom:40%;
}

.sub2 .karen .karenImg .karenImage:nth-child(2) {
    float:right;
    margin-left:13px;
    background:url(../img/sub2-karen2.jpg)no-repeat center/cover;
    width:60%;
    padding-bottom:40%;
}

.sub2 .karen .karenImg .karenImage:nth-child(3) {
    float:right;
    margin:20px 6% 20px;
    background:url(../img/sub2-karen3.jpg)no-repeat center/cover;
    width:40%;
    padding-bottom:60%;
}
/*/karen*/

/*michael*/
.sub2 .michael {
    background:#000 url(../img/sub2-michael-bg.jpg)no-repeat top left/211px 326px;
    width:100%;
    padding-top:10%;
}

.sub2 .michaelMain {
    display:flex;
    flex-direction:row;
    padding-bottom:20%;
}

.sub2 .michaelMainWrap {
    width:60%;
}

.sub2 .michael .mechaelTitle {
    display:flex;
    flex-direction:row;
}

.sub2 .michael .titleText {
    position:relative;
    top:0;
    left:0;
    width:40%;
    padding-bottom:52.26%;
}

.sub2 .michael h3 {
    position:absolute; 
    top:0;
    left:0;
    color:#fff;
    font:2.8rem 'robotL';
    width:134%;
    transform:rotate(90deg);
}

.sub2 .michael .titleImg  {
    background:url(../img/sub2-michael1.jpg)no-repeat center/cover;
    min-width:60%;
    padding-bottom:52.26%;
}

.sub2 .michaelDesc {
    width:40%;
    display:flex;
    flex-direction:row;
    align-items:baseline;
    justify-content:space-between;
}

.sub2 .michael .michaelBluntTitle {
    width:90%;
    display:flex;
    flex-direction:column;
}

.sub2 .michael .x {
    float:none;
}

.sub2 .michael .michaelImage {
    background:url(../img/sub2-michael2.jpg)no-repeat center/cover;
    width:100%;
    padding-bottom:100%;
}

.sub2 .michaelUm {
    bottom:42%;
    left:30%;
}
/*   /michael     */

/*utube*/
.sub2 .utube {
    background:#000;
    width:100%;
    padding-bottom:50px;
}

.sub2 .utube .bgText p {
    text-align:center;
    padding:30px 0 50px;
    font:2.3rem 'robotR';
    color:#fff;
}

.sub2 .utube iframe {
    width:100%;
}
/*/utube*/

/*collabo lte 768*/
@media screen and (min-width:768px) {
    /*reset*/
    .sub2 .Text {
        padding-bottom:16%;
    }

    /*um*/
    .sub2 .um {
        width:20%;
    }
    
    .sub2 .um span {
        font-size:3.0rem;
    }

    .sub2 .Text p {
        font-size:2.2rem;
        width:83.3333%;
        padding:34px 3.4375% 36px 3.28125%;
    }
    
    .sub2 .blunt {
        width:200px;
        height:80px;
    }
    
    .sub2 .x {
        width:30px;
        height:30px;
    }
    
    .sub2 .x:before {
        width:30px;
        height:30px;
    }
    
    .sub2 .titleBox h3 {
        font-size:5.6rem;
    }
    
    .sub2 .textBoxStroke {
        width:100px;
        height:100px;
    }

    /* mainBg */
    .sub2 .mainBg {
        height: 580px;
        padding-bottom:0;
    }

    .sub2 .mainBg .mainVideo {
        display:block;
        position:absolute;
        width:100%;
        height:100%;
    }
    
    /*flox*/
    .sub2 .MainBgMobile {
        display:none;
    }
    
    .sub2 .flox .pc {
        display:block;
        background:none;
        width:110%;
        height:779px;
    }

    .sub2 .flox .cont {
        height:130px;
    }
    
    .sub2 .flox .cont p {
        font-size:2.2rem;
    }
    
    .sub2 .flox .titleBox {
        margin:55px 0 0 ;
    }
    
    .sub2 .flox .titleBox .blunt {
        margin:0 18px 0 12%;
    }
    
    .sub2 .flox .titleBox h3 {
        margin:18px 0  0;
    }

    .sub2 .flox .floxMainImg {
        transition:all .3s;
    }
    
    .sub2 .flox .floxMainImg:hover {
        background-image:url(../img/sub2-flox1.JPG);
    }

    /*karen*/
    .sub2 .karen {
        background-size:2106px;
    }
    
    .sub2 .karen .titleBox .blunt {
        margin:19px 0 0 300px;
    }
    
    .sub2 .karen .titleBox .x {
        margin:48px 0 0  23px;
    }
    
    .sub2 .karen .titleBox h3 {
        top:55px;
    }
    
    .sub2 .karen .karenImg .karenImage:first-child {
        width:50%;
        padding-bottom: 30%;
        margin-top:127px;
        transition:all 0.2s;
    }
    
    .sub2 .karen .karenImg .karenImage:first-child:hover {
        background-image:url(../img/sub2-karen1-h.jpg);
    }
    
    .sub2 .karen .karenImg .karenImage:nth-child(2) {
        width:48%;
        padding-bottom: 40%;
        margin-left:0;
        margin-top:58px;
        transition:all 0.3s;
    }
    
    .sub2 .karen .karenImg .karenImage:nth-child(2):hover {
        background-image:url(../img/sub2-karen2-h.jpg);
    }
    
    .sub2 .karen .karenImg .karenImage:nth-child(3) {
        width:34%;
        transition:all 0.2s;
    }
    
    .sub2 .karen .karenImg .karenImage:nth-child(3):hover {
        background-image:url(../img/sub2-karen3-h.jpg);
    }
    .sub2 .karenUm {
        left:60%;
    }

    /*michael*/
    .sub2 .michael {
        background-size:449px, 652px;
        background-position:0 30%;
    }
    
    .sub2 .michael .titleImg {
        min-width:70%;
        padding-bottom:70%;
    }

    .sub2 .michael .titleText {
        width:30%;
    }

    .sub2 .michael h3 {
        top:60px;
        width:174%;
        font-size:5.6rem;
    }

    .sub2 .michaelDesc {
        align-items:flex-end;
        justify-content:space-between;
    }

    /*utube*/
    .sub2 .utube {
        padding-bottom:100px;
    }
    
    .sub2 .utube .bgText p {
        font-size:5.0rem;
        padding:90px 0 90px ;
    }
    
    .sub2 .utube iframe {
        height:433px;
    }
}

/*collabo lte 1280px*/
@media screen and (min-width:1280px) {
    /*reset*/
    .sub2 .Pc {
        display:block;
    }
    
    .navInner ul > li > a {
        color:#fff;
    }

    .sub2 .blunt {
        width:350px;
        height:137px;
    }
    
    .sub2 .titleBox h3 {
        font-size:9.0rem;
    }
    
    .sub2 .textBoxStroke {
        width:150px;
        height:150px;
        right:0;
        bottom:10%;
    }
    
    .sub2 .um {
        width:12%;
    }

    /* mainBg */
    .sub2 .mainBg {
        height:780px;
    }

    .sub2 .mainBg .mainVideo {
        height:780px;
    }
    
    /*flox*/
    .sub2 .flox .pc {
        height:916px;
    }

    .sub2 .flox .contWrap {
        position:relative;
        top:0;
        left:0;
        width:100%;
    }

    .sub2 .flox .wraper {
        background-size:60%;
        background-position:center 70%,-40%;
        padding:0 0 8%;
    }
    
    .sub2 .flox .titleBox .blunt {
        margin:0 18px 0 9%;
    }
    
    .sub2 .flox .titleBox {
        position:absolute;
        top:0;
        left:0;
    }
    
    .sub2 .floxUm {
        left:40%;
        bottom:10%;
    }
    
    .sub2 .flox .InnerWrap {
        float:left;
        width:60%;
    }
    
    .sub2 .flox .Text {
        padding-top:30%;
        padding-left:20%;
    }

    .sub2 .flox .Text p {
        width:90%;
        text-align:center;
        margin:0;
    }
    
    .sub2 .flox .floxMainImgFloat {
        margin:0;
    }

    .sub2 .flox .floxMainImg {
        width:80%;
        margin-top:30%;
        margin-left:10%;
        padding-bottom:130%;
    }
    
    /*karen*/
    
    .sub2 .karen .titleBox {
        width:45.999%;
        margin-top:0;
        margin-left:20%;
        top:-24px;
    }

    
    .sub2 .karen .titleBox .blunt {
        margin:50px 0 0 0;
    }
    
    .sub2 .karen .titleBox .x {
        margin:110px 0 0 24px;
    }
    
    .sub2 .karen .titleBox h3 {
        top:132px;
        left:30%;
    }

    .sub2 .karen .karenImg .karenImage:first-child {
        width:40%;
        padding-bottom: 20%;
        margin-left: 4%;
    }


    .sub2 .karen .karenImg .karenImage:nth-child(2) {
        width:30%;
        padding-bottom: 30%;
        margin-top:4px;
        margin-right:10%;
        background-position:left ;
    }
    
    .sub2 .karen .karenImg .karenImage:nth-child(3) {
        position:absolute ;
        top:500px;
        right:0;
        width:20%;
        padding-bottom: 30%;
        margin:0 1.5104% 0 0;
    }
    
    .sub2 .karen .Text {
        width:54%;
        margin:14% 0 0 12%;
    }
    
    .sub2 .karen .Text p {
        padding:4% 38px 4.375%;
    }
    
    .sub2 .karen .textBoxStroke {
        top:-10%;
        bottom:auto;
        right:80%;
        transform:rotate(180deg);
    }

    .sub2 .karenUm {
        top:-20%;
        left:64%;
        bottom:auto;
    }
    
    /*michael*/
    .sub2 .michael {
        margin-top:0;
        background-size:849px,1043px;
    }

    .sub2 .michaelMain {
        padding-bottom:10%;
    }

    .sub2 .michael h3 {
        font-size:9rem;
    }

    .sub2 .img_btn a {
        position:relative;
    }

    .sub2 .michaelUm {
        bottom:0;
        left:78%;
    }

    .sub2 .michaelBottom {
        margin-left:12%;
        margin-right:30%;
    }

    .sub2 .utube iframe {
        height:970px;
    }

    /*svg*/
    .sub2 main> section> .svgInner {
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        margin:0 auto;
        width:90.2333%;
    }
    
    .sub2 main > section > .svgInner svg {
        position:absolute;
    }
}
/*   /collabo     */

/*   contact     */
/*mainbg*/
.Contact .mainBg {
    position:relative;
    top:0;
    left:0;
    background:url(../img/sub3-mainBg.jpg)no-repeat 68%/cover;
    height:602px;
}

.Contact .mainWrap {
    padding-top:60%;
}

.Contact .mainBg .TextBox {
    padding:6% 8% 8%;
    width:86%;
    margin:0 auto;
    background:rgba(255,255,255,.2);
}

.Contact .mainBg .TextBox p:first-child {
    margin-bottom:10px;
    font:2.8rem 'robotR';
    color:#fff;
    text-align:right;
}

.Contact .mainBg .TextBox p:nth-child(2) {
    position:static;
    font:1.1rem 'robotR';
    text-align:left;
}

/*map*/
.Contact #map {
    background:url(../img/sub3-mapimg1.jpg)no-repeat center/cover;
    padding:2px 0 55px;
}

.Contact #map svg {
    margin-top:6%;
    margin-bottom:10%;
    width:100%;
    height:40px;
    fill:none;
    stroke:#fff;
}

.Contact #map > div:nth-of-type(2) {
    margin:0 auto;
    width:87.2%;
    height:330px;
}

.Contact #map > div:nth-of-type(2) .maptext {
    margin-bottom:54px;
    padding:18px 0 21px 8.2568%;
    width:100%;
    background:rgba(255,255,255,.2);
    font:1.5rem 'robotR';
    color:#fff;
}

.Contact #map> div:nth-of-type(2) .maptext> p {
    margin-bottom:10px;
}

.Contact #map> div:nth-of-type(2) .maptext div p {
    padding-left:56px;
    background:url(../img/sub3-map-icon1.png)no-repeat 20px 50%/17px;
    font-size:1.1rem ;
}

.Contact #map> div:nth-of-type(2) .maptext div p:nth-child(2) {
    margin:15px 0;
    background-image:url(../img/sub3-map-icon2.png);
}

.Contact #map> div:nth-of-type(2) .maptext div p:nth-child(3) {
    background-image:url(../img/sub3-map-icon3.png);
}

.Contact #map .MAP {
    margin-top:80px;
    width:100%;
    height:90vw;
}

/*mail*/
.Contact #mail .banner {
    padding-top:34px;
    background:url(../img/sub3-mailB.jpg)no-repeat center/cover;
    width:100%;
    height:250px;
}

.Contact #mail .banner span {
    display:block;
    width:100%;
    height:2px;
    background:linear-gradient(30deg,#9c60ff 10%,#06eeff);
}

.Contact #mail .banner span:nth-of-type(2) {
    background:linear-gradient(30deg,#9c60ff 60%,#06eeff);
}

.Contact #mail .banner svg {
    margin:75px 0;
    padding:0 10%;
    width:100%;
    height:32px;
    fill:none;
    stroke:#fff;
}

.Contact #mail .memo {
    padding:50px 0 ;
    background:#000;
    color:#fff;
}

.Contact #mail .memo fieldset {
    margin:0 auto;
    width:61.7333%;
    border:none;
}

.Contact #mail .memo input,.Contact #mail .memo textarea {
    display:block;
    width:100%;
    background:#000;
    border:1px dashed #fff;
    color:#fff;
    font-size:1.3rem;
}

.Contact #mail .memo label {
    position:relative;
    top:0;
    left:0;
    display:inline-block;
    margin-bottom:8px;
    font:1.5rem 'robotR';
}

.Contact #mail .memo label:before {
    position:absolute;
    bottom:-3px;left: 0;
    content:"";
    display:inline-block;
    width:100%;
    height:1.2px;
    background:linear-gradient(30deg,#06eeff 10%,#9c60ff);
}

.Contact #mail .memo input {
    height:26px;
    margin-bottom:14px;
}

.Contact #mail .memo .nameBox {
    display:inline-block;
    width:48%;
}

.Contact #mail .memo .button {
    display:inline-block;
    margin-top:30px;
    width:166px;
    height:40px;
}

.Contact #mail .memo .button a {
    display:inline-block;
    position:relative;
    top:0;
    left:0;
    padding:10px;
    background:rgba(145,76,251,.8);
    width:100%; 
    height:100%;
    font:1.4rem 'robotR';
    color:#fff;
    transition:all .2s;
}

.Contact #mail .memo .button a span {
    display:inline-block;
    position:absolute;
    margin-top:-12px;
    top:50%;
    right:10px;   
    background:url(../img/icon/eyeC.png)no-repeat center/contain;
    width:24px;
    height:24px;
}

.Contact #mail .memo .button:hover a {
    background:rgba(63,213,223,.8);
    color:#000;
}

.Contact #mail .memo .button:hover a span {
    background-image:url(../img/icon/eye.png);
}

/*lte 768*/
@media screen and (min-width:768px) {
    /*mainbg*/
    .Contact .mainBg {
        height:922px; 
    }
    
    .Contact .mainWrap {
        padding-top:346px;
    }

    .Contact .mainBg h2 {
        font-size:6.0rem;
    }
    
    .Contact .mainBg h2:before {
        margin-top:-10px;
        left: -8%;
        width:410px;
        height:30px;
    }
    
    .Contact .mainBg .TextBox {
        width:85.156%;/*654*/
        height:430px;
        padding:44px 8.5626% 0 7.339% ;
    }
    
    .Contact .mainBg .TextBox p:first-child {
        margin-bottom:50px;
        font-size:5.6rem;
    }
    
    .Contact .mainBg .TextBox p:first-child span {
        font-family:'robotl';
    }
    
    .Contact .mainBg .TextBox p:nth-child(2) {
        font-size:2.2rem;
    }
        
    /*sns*/
    .Contact .mainBg .sns {
        margin:-82px 2.343% 0 0;
    }
    
    /*map*/
    .Contact #map {
        padding:2px 0 70px;
    }
    
    .Contact #map svg {
        height:72px;
    }
        
    .Contact #map> div:nth-of-type(2) {
        width:85.156%;/*654*/
        height:732px;
    }
    
    .Contact #map> div:nth-of-type(2) .maptext {
        margin-bottom:108px ;
        padding:30px 0 44px 5.504% ;
        font-size:3.0rem;
    }
    
    .Contact #map> div:nth-of-type(2) .maptext > p {
        margin-bottom:40px;
    }
    
    .Contact #map> div:nth-of-type(2) .maptext div p {
        padding-left:72px;
        font-size:2.2rem;
        background-size:27px;
    }
    
    /*mail*/
    .Contact #mail .banner {
        height:337px;
        padding-top:50px;
    }
    
    .Contact #mail .banner svg {
        height:46px;
        margin:96px 0;
    }
        
    .Contact #mail .memo fieldset {
        width:59.765%;
    }
    
    .Contact #mail .memo .Right {
        float:right;
    }
    
    .Contact #mail .memo label {
        font-size:3.6rem;
        margin-bottom:16px;
    }

    .Contact #mail .memo input, .Contact #mail .memo textarea {
        font-size:3.2rem;
    }
    
    .Contact #mail .memo input {
        height:50px;
        margin-bottom:34px;
    }
    
    .Contact #mail .memo .button {
        float:right;
        margin-top:61px;
        width:330px;
        height:60px;
    }
    
    .Contact #mail .memo .button a {
        font-size:3.0rem;
    }
    
    .Contact #mail .memo .button a span {
        margin-top:-25px;
        width:50px;
        height:50px;
    }
}
/*lte 1280px*/
@media screen and (min-width:1280px) {
    .Contact .navInner ul> li> a {
        color:#000;
    }

    .Contact .navInner ul> li> a:hover  {
        color:#2bcad6;
    }

    .Contact .mainBg {
        height:900px;
    }
    
    .Contact .mainWrap {
        padding-top:206px;
    }

    
    .Contact .mainBg .TextBox {
        margin:0;
        padding:62px 8% 80px 6% ;
        width:900px;
        height:auto;
    }
    
    .Contact .mainBg .TextBox p:first-child {
        margin-bottom:70px;
        font-size:7.0rem;
    }
    
    .Contact .mainBg .TextBox p:nth-child(2) {
        font-size:3.0rem;
    }
    
    /*map*/
    .Contact #map {
        float:left;
        padding:0;
        width:100%;
        height:1283px;
    }

    .Contact #map > div:nth-of-type(2) {
        float:left;
        width:50%;
        height:1283px;
        margin:0;
    }
    
    .Contact #map .MAP {
        float:right;
        margin-top:0;
        width:50%;
        height:1030px;
    }

    .Contact #map> div:nth-of-type(2) .maptext {
        width:84.6875%;
        margin:0 auto 225px;
        font-size:3.2rem;
    }
    
    .mapLocate1 {
        background-image:url(../img/sub3-map2-h.jpg);
    }
    
    .mapLocate2 {
        background-image:url(../img/sub3-map2-h.jpg);
    }
    
    /*mail*/
    .Contact #mail {
        float:left;
        width:100%;
    }
    
    .Contact footer {
        float:left;
        width:100%;
    }
}

/* help */
 
.help_page header {
    height:10vh;
}

.help_page .mainBg {
    width:100%;
    height:90vh;
}

.help_page .mainBgBtn {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.help_page .TextBox {
    position:absolute;
}

.help_page .mainBg p {
    position: static;
}

.help_page .mainBg p:last-child span {
    display:inline;
}

.help_page .sliderWrap {
    /* float:left; */
    /* position:absolute; */
}

.help_page .sliderInner {
    width:100%;
    height:100%;
    float:left;
    margin-top:-39px;
    /* 최선..? */
}

.help_page .helpImg {
    height:90vh;
    background:url('../img/blunt-slide23.jpg')no-repeat center/cover;
}

.help_page .helpImgSlide1 {
    background-image:url('../img/sub3-mainBg.jpg');
}

.help_page .helpImgSlide2 {
    background-image:url('../img/sub2-flox-bg-L-m.jpg');
}

.help_page .help_main_section {
    width:100%;
    padding:6% 10%;
}

.help_main_section> h3 {
    position:static;
    font:2.8rem 'robotR';
    margin-bottom:6%;
}

.helplist {
    cursor:pointer;
    margin-bottom: 4%;
}

.helplist p {
    position:relative;
    padding-left:6%;
    margin-left:2%;
    font:2rem 'robotL';
}

.helplist p:after {
    content:"";
    display:inline-block;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-4px);
    width:10px;
    height:10px;
    background:url(../icon/help_arrow_down.svg)no-repeat center/cover;
}

.helplist span {
    display:block;
    margin-top: 2%;
    width:100%;
    height:1px;
    background:linear-gradient(to right, #06eeff, #9c60ff);
}

.helplist ul {
    display:none;
    padding-left:4%;
}

.helplist li {
    font:1.4rem 'robotL';
    padding-top:2%;
}

.helplist li:before {
    display:inline-block;
    content:"";
    width:4px;
    height:4px;
    line-height: 2;
    margin-right:2%;
    transform:translateY(-48%);
    background:url(../img/sub1-slide-arrow-right.png)no-repeat center/cover;
}

.help_page .widthLogo {
    padding:0 4%;
    height:80px;
    text-align:center;
}

.help_page .widthLogo span {
    display:inline-block;
    width:30%;
    height:100%;
    background: url(../img/sub4-widthlogo1.png)no-repeat center/contain;
}

.help_page .widthLogo span:nth-child(2) {
    background-image: url(../img/sub4-widthlogo2.png);
    margin:0 4%;
}

.help_page .widthLogo span:nth-child(3) {
    background-image: url(../img/sub4-logo3.png);
}

.help_page .widthimg {
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:150px;
    background: #000;
}

.help_page .bottom_img {
    position:absolute;
    top:0;
    left:0;
    width:20%;
    height:100%;
    background: url(../img/sub4-widthimg1.jpg) no-repeat center/cover;
}

.help_page .bottom_img:nth-child(2) {
    background-image:url(../img/sub4-widthimg2.jpg);
    left:20%;
}

.help_page .bottom_img:nth-child(3) {
    background-image:url(../img/sub4-widthimg3.jpg);
    left:40%;
}

.help_page .bottom_img:nth-child(4) {
    background-image:url(../img/sub4-widthimg4.jpg);
    left:60%;
}

.help_page .bottom_img:nth-child(5) {
    background-image:url(../img/sub4-widthimg5.jpg);
    left:80%;
}

@media screen and (min-width:768px) {
    .help_main_section> h3 {
        margin-bottom: 4%;
        font-size:3.6rem;
    }

    .helplist {
        padding:0 6%;
        margin-bottom:2%;
    }

    .helplist p {
        font-size:3.0rem;
    }

    .helplist p:after {
        width:20px;
        height:20px;
        transform:translateY(-8px);
    }

    .helplist> span {
        height:2px;
    }

    .helplist li {
        font-size:1.8rem;
    }

    .helplist li:before {
        width:8px;
        height:8px;
    }

    .help_page .widthLogo {
        margin-bottom:4%;
    }

    .help_page .widthimg {
        height:300px;
    }
}

@media screen and (min-width:1280px) {
    .purple_stroke_title {
        font-size:8.0rem;
    }

    .purple_stroke_title:after {
        right:5%;
        width:260px;
        height:30px;
    }
    
    .help_page header {
        height:74px;
    }

    .help_page .mainBg {
        height:900px;
    }

    .help_page .help_main_section {
        padding:6% 18%;
    }

    .help_main_section> h3 {
        font-size:6rem;
    }

    .helplist p {
        font-size:4.6rem;
    }
    
    .helplist p:after {
        width:30px;
        height:30px;
        transform:translateY(-12px);
        background-image:url(../icon/help_arrow_downs.svg) ;
    }

    .helplist ul {
        padding-left:6%;
    }

    .helplist li {
        font-size:3.4rem;
    }

    .helplist li:before {
        width:12px;
        height:12px;
        margin-right:4%;
        transform:translateX(-18px);
        transition:all .2s;
    }

    .helplist li:hover:before {
        transform:translateX(0);
    }

    .help_page .widthLogo span {
        width:24%;
    }

    .help_page .widthimg {
        height:500px;
    }
}
