@charset "utf-8";
body{
    text-align:center;
}

section{
    display:inline-block;
    margin:10px;
}

svg{
    width:600px; height:400px;
    box-shadow: 0 0 10px 1px #ccc;
    background:url(../img/grid.gif);
		overflow:hidden;
	/*IE에서 svg넘어가도 그대로 보여주는 것을 해결해주기위한 방법.*/
}

.r1{
    width:200px;height:200px;
    fill:orange; 
}

.r2{
    width:200px; height:100px; 
    fill: greenyellow; 
    fill-opacity:.3;
    stroke: blue;
    stroke-width:3px;
    stroke-opacity:.5;
}

.r3{
	fill:coral;
	fill-opacity:.6;
}
.c1{
    fill:#6C49B8;
}
.c2{
    fill:#4F86C6;
}
.c3{
    fill:#FFBC42;
}
.c4{
    fill:#D81159;
}
.c5{
    fill:#8F2D56;
}
.c6{
    fill:#218380;
}
.c7{
    fill:#56445D;
}
.c8{
    fill:#548687;
}
.c9{
    fill:#8FBC94;
}
.c10{
    fill:#C5E99B;
}

.e1{
  fill:gold;  fill-opacity:.5;
}

.e2{
    fill:orange; fill-opacity:.4;
}

.e3{
    fill:darkred; fill-opacity:.6
}

.n1{
    stroke:red; stroke-width:5px;stroke-opacity:.3;
}
.n2{
    stroke:cornflowerblue; stroke-width:5px; stroke-opacity:.5;
}
/*태그명을 써서 하면 된다.class 안붙여도된다.*/

.pg1,.pg2,.pg3{
    fill:none;
    stroke:#FF28A7;stroke-width:5px;
}
/*차이점 : 선만있을때 보면 차이가난다.polygon 알아서 닫힘(면 위주). polyline 닫히지 않았다(선 위주). */
.pl1,.pl2,.pl3,.pl4{
    fill:none;
    stroke:#AD19EC;stroke-width:5px;
}


.pl5{
    fill:none;
    stroke:pink;
    stroke-width:6px;
}

.ts{
	fill:transparent;
	stroke-width:2px;
}

.p1{
	fill:none;
	stroke:brown; 
}

.p2{
	fill:none;
	stroke:hotpink; 
}

.p3{
	fill:transparent;
	stroke:green; stroke-width:2px;
}

.p4{
	fill:none;
	stroke:orange; stroke-width:2px;
}

.p5{
	fill:transparent;
	stroke: midnightblue; stroke-width:2px;
}

.handler{
	fill:none;
	stroke:pink;stroke-width:2px;
}
.sky{
    animation: sunset 3s ease infinite;
	        transform-origin: 50% 50% ;
	
}

.cloud{
    fill:white;
    fill-opacity:.5;
}

.u1{
	fill:#CD2E57; fill-opacity:.8;
	stroke:#c36e82; stroke-width:20px; stroke-opacity:.3;
}


.u2{
	fill:#f57382; stroke:#Fab496; stroke-width:20px; stroke-opacity:.7;
}


.l1{
    fill:mistyrose;
    animation: anim 3s ease infinite;
	  transform-origin: 50% 50% ;/*위치지정*/
}

.l2{
    fill:salmon;
    animation: anim 3s 1s ease infinite;
	  transform-origin: 50% 50% ;/*위치지정*/
}

.l3{
    fill:crimson;
    fill-opacity:.7;
    animation: anim1 1s ease-in-out infinite;
    transform-origin: 50% 50% ;

}


@keyframes anim {
    0%,100%{
        -webkit-transform:rotate(15deg);
        -ms-transform:rotate(15deg);
        transform:rotate(15deg);
      
    }
    
    25%{
        -webkit-transform:rotate(-15deg);
        -ms-transform:rotate(-15deg);
        transform:rotate(-15deg);
    }
    50%{
        -webkit-transform:rotate(15deg);
        -ms-transform:rotate(15deg);
        transform:rotate(15deg);
    } 
    75%{
        -webkit-transform:rotate(-15deg);
        -ms-transform:rotate(-15deg);
        transform:rotate(-15deg);
    }  
}


@keyframes anim1 {
    0%,100%{
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
    
    30%,60%{
        -webkit-transform:scale(0.7);
        -ms-transform:scale(0.7);
        transform:scale(0.7);
    }
    
    50%{
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    } 
}

@keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    25%,50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    75%,100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@-webkit-keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    25%,50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    75%,100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@-moz-keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    25%,50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    75%,100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@-ms-keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    25%,50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    75%,100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@-o-keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    25%,50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    75%,100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}


.t1{
	stroke:orange;	stroke-width:6px;	stroke-opacity:.5;
	font-size:7em; text-transform:capitalize;
	font-weight:bold;
	fill:none;
}

.t2,.t3,.t4{
	font-size:2em; font-weight:bold; text-transform:uppercase;
}

.t2{
		text-anchor:start;
}

.t3{
		text-anchor:middle;
}

.t4{
		text-anchor:end;
}

.t5{
	font-size:1.5em; 
	font-family:Arial,"맑은 고딕",sans-serif;
}

.t5 tspan{
	fill:red;
}

#myPath{
	stroke:none;
	/*stroke:transparent;*/
}

.p1 path:nth-child(1){
	stroke-dasharray:5,5;
}
.p1 path:nth-child(2){
	stroke-dasharray:5,3,15;
}
.p1 path:nth-child(3){
	stroke-dasharray:5,10,15;
}

.p2 path:nth-child(1){
	stroke-linecap:round;
}

.p2 path:nth-child(2){
	stroke-linecap:square;
}

.p2 path{
	stroke-width:10px;
}

.link{
    text-anchor:middle;
    font-size:3em;
    font-family: 'Shadows Into Light', sans-serif;
    text-transform:uppercase;
    
}

.text{
        font-size:60px;
        font-weight:bold;
        text-transform:uppercase;
        text-anchor:middle;
        font-family: 'Open Sans Condensed', sans-serif;
    }

.move{
    animation: myName 1s ease infinite;
    transform-origin:50% 50%;
}
.m{
    animation: myName 1s ease .3s infinite;
    transform-origin:50% 50%;
}

.nameL{
    stroke-dasharray:4,3,8,6,10;
    stroke:#fff;
    stroke-width:4px;
    fill:none;
}

.text2{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}

@keyframes myName{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.04);
    }
}

.cjw{
	display:block;
}

.cjw img{
	width:30%;
}

.cjwbg{
	display:block;
	height:600px;
	background:url(../img/cjw2.svg);
	background-size:20%;
}

.anime1{
	fill:#D35454;
}




